@use "src/vars" as *;
@use "sass:color";

hr {
  margin: 0;
}

#header-title-div {
  z-index: 50;
  display: flex;
  position: absolute;
  height: $default-title-div-height;
  line-height: $header-font-size;
  right: calc($header-menu-icon-width + 0.5rem);
  top: 0.5rem;
  width: $header-menu-title-width;
  border-radius: 0.25rem 0 0 0.25rem;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  background-color: $menu-dark-bg-color;
  color: $main-dark-text-color;
  font-size: $header-title-font-size;
  align-items: center;
  justify-content: space-evenly;

}
#header-title-div span {
  color: $copsi-blue;
}

#copsi-logo {
  height: 1.2rem;
}


#centre-logo {
  padding: 0;
  height: 1.2rem;
}

#header-menu-div {
  z-index: 50;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: $header-menu-icon-width;
  height: $default-title-div-height;
  border-radius: 0 0.25rem 0.25rem 0;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  background-color: $main-dark-bg-color;
  color: $main-dark-text-color;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

/* Header Buttons */
.header-menu-button-div {
  display: flex;
  height: 1.55rem;
}

.header-menu-button {
  text-align: center;
  cursor: pointer;
}

#user-icon {
  transition: opacity 0.15s ease-in-out;
}
#user-icon:hover {
  opacity: 0.7;
}

#settings-icon {
  transition: opacity 0.15s ease-in-out;
}
#settings-icon:hover {
  opacity: 0.7;
}

/* User menu */
#user-menu {
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.0rem 0;
  gap: 0.5rem;
  top: 3rem;
  right: 0.5rem;
  width: $header-menu-width;
  max-height: calc(100vh - 3.5rem);

  border-radius: 0.25rem;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  background-color: $main-dark-bg-color;
  color: $main-dark-text-color;

  overflow-x: hidden;
  overflow-y: auto;
}
#user-menu p {
  text-align: center;
  color: color.adjust($main-dark-text-color, $lightness: -15%);
  margin: 0.5rem;
}
#user-menu span {
  color: $main-dark-text-color;
}
#user-image {
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
}

.user-option-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.0rem;
  gap: 0.5rem;
  cursor: pointer;
  width: 100%;
}
.user-option-div:hover .user-option-icon {
  opacity: 0.7;
}
.user-option-text {
  margin: 0;
  font-size: 1rem;
  color: color.adjust($main-dark-text-color, $lightness: -15%);
}
.user-option-icon {
  margin: 0;
  font-size: $header-icon-font-size;
  height: $header-icon-font-size;
  transition: opacity 0.15s ease-in-out;
}


/* Settings menu */
#settings-menu {
  z-index: 3;
  position: absolute;
  gap: 0.5rem;
  top: 3rem;
  right: 0.5rem;
  width: $header-menu-width;
  max-height: calc(100vh - 3.5rem);

  border-radius: 0.25rem;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  color: $main-dark-text-color;

  pointer-events: auto;

  overflow-x: hidden;
  overflow-y: auto;
}
#settings-menu p {
  color: color.adjust($main-dark-text-color, $lightness: -15%);
}
#settings-image {
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
}

#settings-menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.0rem 0;
  background-color: $main-dark-bg-color;
}

#menu-items-container {
  display: flex;
  flex-direction: column;
}

.menu-item-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: $main-dark-bg-color;
  align-items: center;
  justify-content: space-between;
}
.menu-item-div label {
  color: color.adjust($main-dark-text-color, $lightness: -15%);
}

.settings-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $menu-dark-bg-color;
  padding: 0.25rem 1.0rem;
  border-radius: 0.25rem;
  border: $main-dark-border;
  width: 8rem;

  cursor: pointer;
  font-size: 1rem;
}

.settings-buttons:hover {
  background-color: color.adjust($main-dark-bg-color, $lightness: 10%);
}
.settings-buttons:active {
  background-color: color.adjust($main-dark-bg-color, $lightness: 50%);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.settings-sub-container {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1.0rem;
  gap: 0.5rem;
  width: $header-menu-width;
  background-color: $menu-dark-bg-color;
  color: $main-dark-text-color;

  pointer-events: auto;
}

.settings-sub-container label {
  font-size: 1rem;
}
.settings-sub-container img {
  width: 5rem;
  border: 1px solid black;
}

.selection-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  background-color: $main-dark-bg-color;
  border: $main-dark-border;
  border-radius: 0.25rem;
}

.selection-item:hover {
  background-color: color.adjust($main-dark-bg-color, $lightness: 10%);
}
.selection-item:active {
  background-color: color.adjust($main-dark-bg-color, $lightness: 50%);
}
.selection-item.deactivated {
  color: color.change($main-dark-text-color, $lightness: 60%);
  pointer-events: none;
}

.vertical-spacer {
  width: 100%;
  height: 0.5rem;
  background-color: $main-dark-bg-color;
}

@media screen and (max-width: $screen-width-threshold-medium) {
  #header-title-div {
    width: $header-menu-title-width-mobile;
    font-size: $header-title-font-size-mobile;
  }

  #user-menu {
    width: $header-menu-width-mobile;
  }

  #settings-menu {
    width: $header-menu-width-mobile;
  }

  #copsi-logo {
    display: none;
  }
  #app-title {
    display: inline;
  }
}

@media screen and (max-width: $screen-width-threshold-little) {
  #header-title-div {
    width: $header-menu-title-width-mobile-little;
  }

  #user-menu {
    width: $header-menu-width-mobile-little;
  }

  #settings-menu {
    width: $header-menu-width-mobile-little;
    gap: 1.0rem;
  }

  #app-title {
    display: none;
  }
  #copsi-logo {
    display: inline;
  }
  .menu-item-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    gap: 0.25rem;
    align-items: flex-end;
  }
}
