@use "src/vars" as *;
@use "sass:color";

#footer-container-div {
  z-index: 99;
  display: flex;
  height: $footer-copsi-height;
  flex-direction: row;
  position: absolute;
  right: 0;
  left: auto;
  gap: 0.5rem;
  bottom: 0.5rem;
  align-items: center;
  justify-content: right;
  padding: 0 0.5rem;
  pointer-events: none;
  cursor: pointer;
}

#footer-logo-div {
  display: flex;
  flex-direction: row;
  height: $footer-copsi-height;
  width: $footer-copsi-height;
  position: relative;
  border-radius: calc($footer-copsi-height / 2);
  background-color: $menu-dark-bg-color;
  color: $main-dark-text-color;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s ease-in-out;
  pointer-events: visible;
}

#footer-logo-div:hover {
  background-color: color.adjust($menu-dark-bg-color, $lightness: -15%);
}

#footer-main-div {
  z-index: 2;
  display: none;
  height: $default-title-div-height;
  padding: 0.25rem 1rem;
  gap: 0.5rem;
  margin-right: -0.5rem;
  border-radius: 0.25rem;
  background-color: $menu-dark-bg-color;
  color: $main-dark-text-color;
  border: $main-dark-border;
  font-size: $footer-font-size;
  box-shadow: $default-shadow;
  align-items: center;
  justify-content: space-evenly;
  transition: opacity 0.25s ease-in-out, margin-right 0.25s ease-in-out;
  pointer-events: visible;
}

#footer-main-div p {
  margin: 0;
}

.footer-logo-div {
  display: flex;
  gap: 0.5rem;
}
.footer-info-div {
  display: flex;
  gap: 0.25rem;
}

#footer-separator {
  height: 1rem;
  border: 1px solid grey;
  margin: 0 0.5rem;
}

.info-logo {
  padding: 0;
  height: 1.0rem;
}

#copsi-logo {
  margin: 0;
  height: 1.4rem;
}

.footer-logo-div a {
  height: 1.0rem;
}

@media screen and (max-width: $screen-width-threshold-little) {
  #footer-main-div {
    font-size: $footer-font-size-mobile;
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
  }
  .info-logo {
    height: 0.75rem;
  }
  .footer-logo-div {
    gap: 0.25rem;
  }
  .footer-logo-div a {
    height: 0.75rem;
  }
  #footer-separator {
    height: 0.75rem;
  }
}
