<div id="footer-container-div">
  <!-- footer bar -->
  <div id="footer-main-div" (click)="onInfoIconClicked($event)">
    <div class="footer-logo-div">
      @for (lLogo of infoLogosLeft; track lLogo) {
        <a href={{lLogo.link}}  target="_blank">
          <img class="info-logo" src={{lLogo.image}} alt={{lLogo.alt}} title={{lLogo.title}}>
        </a>
      }
      <div id="footer-separator"></div>
      @for (rLogo of infoLogosRight; track rLogo) {
        <a href={{rLogo.link}}  target="_blank">
          <img class="info-logo" src={{rLogo.image}} alt={{rLogo.alt}} title={{rLogo.title}}>
        </a>
      }
    </div>
    <div id="footer-separator"></div>
    <div class="footer-info-div">
      <p>v.</p>
      <p>{{version}}</p>
    </div>
  </div>

  <!-- logo button -->
  <div id="footer-logo-div" title="Show/Hide info bar" (click)="onInfoIconClicked($event)">
    <img id="copsi-logo" src="./assets/images/COPSI_logotipo.svg" alt="Copsi logo">
  </div>

</div>




