<div id="canvas-container">
  <canvas id='map-globe'></canvas>
  <canvas id='map-plane'></canvas>
  @if (selectedMapStyle === 'OSM') {
    <div id="map-attribution" (click)="onMapAttributionClick()">
      @if (mapAttributionIsVisible === true) {
        <p id="map-attribution-text" style="padding: 0.5rem">© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a></p>
      }
      @if (mapAttributionIsVisible === false) {
        <p id="map-attribution-text" style="padding: 0">©</p>
      }
    </div>
  }
</div>


<!-- Context menu -->
<div id="context-menu-container" class="hidden" (mouseenter)="onMouseEnterContextMenu()" (mouseleave)="onMouseLeaveContextMenu()">
  <div id="geo-search-container">
    <div id="context-menu-title">
      Geo Search
    </div>
    <div id="geo-search-buttons-container">
      <div class="geo-search-command-div" (click)="this.onDrawRectButtonClicked(true)">
        <img class="svg-icon" src="assets/images/draw-rect.svg" alt="draw rect icon" title="Draw rectangle"/>
        <p>Draw Rectangle</p>
      </div>
      <div class="geo-search-command-div" (click)="this.onDrawPolygonButtonClicked(true)">
        <img class="svg-icon" src="assets/images/draw-polygon.svg" alt="draw polygon icon" title="Draw polygon"/>
        <p>Draw Polygon</p>
      </div>
      <hr>
        <div class="geo-search-command-div" (click)="this.onCancelDrawingButtonClicked(true)">
          <img class="svg-icon" src="assets/images/delete-polygon.svg" alt="draw polygon icon" title="Delete polygon"/>
          <p>Delete Polygon</p>
        </div>
      </div>
    </div>
  </div>

  @if (showGeoSearchToolbar && !hideGeoSearchToolbar) {
    <div id="geosearch-fixed-container">
      <div id="geosearch-fixed-column-div">
        <div class="geo-search-command-div" (click)="this.onDrawRectButtonClicked(true)">
          <img class="svg-icon" src="assets/images/draw-rect.svg" alt="draw rect icon" title="Draw rectangle"/>
        </div>
        <div class="geo-search-command-div" (click)="this.onDrawPolygonButtonClicked(true)">
          <img class="svg-icon" src="assets/images/draw-polygon.svg" alt="draw polygon icon" title="Draw polygon"/>
        </div>
        <hr>
          <div class="geo-search-command-div" (click)="this.onCancelDrawingButtonClicked(true)">
            <img class="svg-icon" src="assets/images/delete-polygon.svg" alt="draw polygon icon" title="Delete polygon"/>
          </div>
        </div>
      </div>
    }
