@use "src/vars" as *;
@use "sass:color";

#main-alert-container {
  z-index: 99;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #1116;
}

#alert-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  background-color: $menu-dark-bg-color;
  border: $main-dark-border;
  box-shadow: $login-shadow;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  width: 24rem;
}

#alert-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#copsi-logo {
  margin: 1 rem;
  height: 2.0rem;
}

#title {
  margin: 0;
}

hr {
  width: 100%;
}

#buttons-div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

button {
  display: flex;
  width: 4rem;
  height: 2rem;
  background-color: $main-buttons-bg-color;
  border-radius: 5px;
  border: $main-dark-border;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  font-family: $font-family;
}

button:hover {
  background-color: $main-buttons-bg-color-hover;
}

#message {
  word-break: break-word;
  text-align: justify;
}
