<!-- Search Bar -->
<div id="search-bar-main-div">
  @if (advancedFilterIsActive == false) {
  <mat-icon id="advanced-search-icon" aria-hidden="false" aria-label="advanced search icon" fontIcon="menu" title="Show advanced filter" (click)="onShowAdvancedSearch($event)"></mat-icon>
  }
  @else {
  <mat-icon id="advanced-search-icon-filtered" aria-hidden="false" aria-label="advanced search icon" fontIcon="filter_list" title="Show advanced filter" (click)="onShowAdvancedSearch($event)"></mat-icon>
  }
  @if (gssSelectedProtocol === "OData") {
  <input id="search-input" type="text" placeholder="Type a search string: e.g. *MSIL1C*" [(ngModel)]="filter" (keydown.enter)="onAdvancedSearchSubmit($event)" value="{{filter}}" title="Type a search string">
  }
  @else {
  <input id="search-input" type="text" placeholder="Type a product name to search" [(ngModel)]="filter" (keydown)="onTextSearchKeyDown($event)" (input)="onTextSearchChanged($event)" value="{{filter}}" title="Type a search string">
  }
  <div id="search-magnifier-icon-div">
    <mat-icon id="search-magnifier-icon" aria-hidden="false" aria-label="Search icon" fontIcon="search" title="Perform search" (click)="onAdvancedSearchSubmit($event)"></mat-icon>
  </div>
</div>

<div id="search-suggestion-div" class="hidden" (mouseover)="onTextSearchSuggestionDivMouseOver($event)">
  <ul>
  @for (suggestion of foundSuggestions; track suggestion; let i = $index;) {
    <li [class.selected]="i === foundSuggestionSelected" (mouseover)="onTextSearchSuggestedMouseOver($event, i)" (mouseleave)="onTextSearchSuggestionDivMouseLeave($event)" (click)="onTextSearchSuggestionMouseClick($event)">
      {{suggestion}}
    </li>
  }
  </ul>
</div>

<!-- OData Filter Output -->
<div id="filter-output-div" class="hidden unpinned">
  <div id="filter-output-label-div">
    <div id="filter-output-label">Search filter output:</div>
    <div id="filter-output-icons-div">
      <div id="filter-output-protocol-div">Protocol:<span>{{gssSelectedProtocol}}</span></div>
      <mat-icon id="copy-search-filter-output-icon" aria-hidden="false" aria-label="copy search filter output icon" title="Copy the complete search filter output" (click)="onCopyOutputClicked($event)">content_copy</mat-icon>
      <mat-icon id="pin-search-filter-output-icon" [class]="filterOutputIsPinnedByDefault ? 'pinned' : 'unpinned'" aria-hidden="false" aria-label="pin search filter output icon" [title]="filterOutputIsPinnedByDefault ? 'Unpin search filter output' : 'Pin search filter output'" (click)="onPushPinToggle($event)">push_pin</mat-icon>
    </div>
  </div>
  <hr>
  <div id="filter-output-scrollable-div">
    @if (gssSelectedProtocol === "OData") {
    <p title="{{parsedFilter}} {{productFilter}} {{attributeFilter}} {{geoFilter}}">
      <span>{{parsedFilter}}</span>
      @if (parsedFilter !== '' && parsedFilter !== undefined && (productFilter !== '' || attributeFilter !== '' || geoFilter !== '')) {
      <span> and </span>
      }
      <span>{{productFilter}}</span>
      @if (productFilter !== '' && (attributeFilter !== '' || geoFilter !== '')) {
      <span> and </span>
      }
      <span>{{attributeFilter}}</span>
      @if (attributeFilter !== '' && geoFilter !== '') {
      <span> and </span>
      }
      <span>{{geoFilter}}</span>
    </p>
    }
    @else {
    <p>
      <span><pre title="{{getStringified(stacFilter)}}">{{convertStacJsonToOutputString(stacFilter)}}</pre></span>
    </p>
    }
  </div>
  <div id="filter-output-scroll-thumb"></div>
</div>

<!-- Advanced Search -->
<form id="advanced-search-menu" class="hidden">
  <div id="advanced-search-title-div">
    <p>Advanced Search</p>
    <div id="advanced-search-title-buttons-div">
      <mat-icon id="advanced-search-clear-icon" aria-hidden="false" aria-label="advanced search clear icon" title="Clear all filters" (click)="onAdvancedSearchClear()">delete_outline</mat-icon>
      <mat-icon id="advanced-search-submit-icon" aria-hidden="false" aria-label="advanced search submit icon" title="Perform search" (click)="onAdvancedSearchSubmit($event)">done</mat-icon>
    </div>
  </div>
  <hr>
  <div id="advanced-search-scrollable-container">
    <div class="advanced-search-main-filters">
      <div class="advanced-search-item-div">
        <label for="order-by">Order by:</label>
        <select class="select" title="Change order value" (change)="onOrderByChanged($event)">
          @for (option of orderByOptions; track option.name;) {
          <option>{{option.name}}</option>
          }
        </select>
      </div>
      <div class="advanced-search-item-div">
        <label for="sort-by">Sort by:</label>
        <select class="select" title="Change sort value" (change)="onSortByChanged($event)">
          @for (option of sortByOptions; track option.name;) {
          <option>{{option.name}}</option>
          }
        </select>
      </div>
      <hr style="margin: 0.5rem 0;">
      <div class="advanced-search-item-div">
        <label for="sensing-start">Sensing date:</label>
        <div class="datepicker-div">
          <input type="date" class="date" id="sensing-start" name="sensing-start" [max]="sensingStopEl.value === '' ? todayDate : sensingStopEl.value" title="Sensing start date" (change)="parseAdvancedFilter()" (click)="onDateClicked($event)">
          <span>-</span>
          <input type="date" class="date" id="sensing-stop" name="sensing-stop" [min]="sensingStartEl.value === '' ? undefined : sensingStartEl.value" [max]="todayDate" title="Sensing stop date" (change)="parseAdvancedFilter()" (click)="onDateClicked($event)">
        </div>
      </div>
      <div class="advanced-search-item-div">
        <label for="publication-start">Publication date:</label>
        <div class="datepicker-div">
          <input type="date" class="date" id="publication-start" name="publication-start" [max]="maxPublicationStartDate" title="Publication start date" (change)="parseAdvancedFilter()" (click)="onDateClicked($event)">
          <span>-</span>
          <input type="date" class="date" id="publication-stop" name="publication-stop" [min]="minPublicationStopDate" [max]="todayDate" title="Publication start date" (change)="parseAdvancedFilter()" (click)="onDateClicked($event)">
        </div>
      </div>
    </div>
    <hr>

    <!-- Missions Sections -->
    @if (gssSelectedProtocol === "OData") {
    @for(el of platformDetailsList; track el;) {
    <div class="collapsible-section">
      <div class="collapsible-header-div">
        <div type="button" class="collapsible-header">{{el.name}}: {{el.mission}}</div>
        <div class="mission-filter-slider-div">
          <label class="switch" title="Toggle mission filter">
            <input type="checkbox" class="checkbox" (click)="onMissionFilterButtonClicked($event)">
            <span class="slider"></span>
          </label>
        </div>
      </div>

      <div class="content">
        @for (filter of el.filters; let i = $index; track filter;) {
        <div class="advanced-search-filter-div">

          <label for="filter">{{filter.name}}:</label>
          @if (filter.hasOwnProperty('value')) {
          <div class="filter-select-container" name="filter">
            @if (filter.hasOwnProperty('value')) {
            <div class="filter-select-div" title="Select {{filter.name}}" (click)="showComboSelect($event)">
              <div class="selected-options-div">
                @if (filter.selectedValues.length === 0) {
                <div class="selected-option-placeholder">---</div>
                }
                @for (option of filter.selectedValues; let k = $index; track option;) {
                <div class="selected-option">
                  {{option}}
                  <mat-icon class="selected-option-button" aria-hidden="false" aria-label="Remove filter" title="Remove filter" fontIcon="clear"
                    (click)="onComboFilterRemove(filter.selectedValues, k, $event)"></mat-icon>
                </div>
                }
              </div>
            </div>
            }
            <div class="combo-select-container hidden" (mouseover)="onComboHover()" (mouseleave)="onComboLeave()">
              @for (value of filter.value; track value;) {
              <div class="combo-select-div">
                <button class="combo-select-button" (click)="onComboButtonSelected(filter, value, $event)">{{value}}</button>
                <mat-icon class="combo-select-button-remove" aria-hidden="false" aria-label="Remove filter" title="Remove filter" fontIcon="clear"
                  (click)="onComboFilterRemoveFromList(filter.selectedValues, value, $event)"></mat-icon>
              </div>
              }
            </div>
          </div>
          }
          @if (filter.hasOwnProperty('manualInput')) {
          <input class="input" type="string" name="filter" title="Write a {{filter.name}}" (change)="parseAdvancedFilter()">
          }
          @if (filter.hasOwnProperty('needsMinMaxValues') && filter.needsMinMaxValues == false) {
          <input class="input" type="number" name="filter" [min]="filter.minValue" [max]="filter.maxValue" [step]="filter.step" title="Type a number from {{filter.minValue}} to {{filter.maxValue}}" (change)="parseAdvancedFilter()">
          }
          @if (filter.hasOwnProperty('needsMinMaxValues') && filter.needsMinMaxValues == true) {
          <div class="min-max-input-div">
            <input class="input-min" type="number" name="filter" [min]="filter.minValue" [max]="filter.maxValue" [step]="filter.step" title="Min value - Type a number from {{filter.minValue}} to {{filter.maxValue}}" (change)="parseAdvancedFilter()">
            <span>-</span>
            <input class="input-max" type="number" name="filter" [min]="filter.minValue" [max]="filter.maxValue" [step]="filter.step" title="Max value - Type a number from {{filter.minValue}} to {{filter.maxValue}}" (change)="parseAdvancedFilter()">
          </div>
          }

        </div>
        }
      </div>
      <hr>
    </div>
    }
    }
    @else {
    @for(el of stacCollectionsList; track el;) {
    <div class="collapsible-section">
      <div class="collapsible-header-div">
        <div type="button" class="collapsible-header">Collection: {{el}}</div>
        <div class="mission-filter-slider-div">
          <label class="switch" title="Toggle mission filter">
            <input type="checkbox" class="checkbox" (click)="onMissionFilterButtonClicked($event)">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="content">
        <!-- @for (filter of stacQueryablesList; let i = $index; track filter;) {
        <div class="advanced-search-filter-div">

          <label for="filter" title="{{filter.title}}">{{filter.name}}:</label>
          @if (filter.type == "string") {
          <input class="input stac" type="string" name="filter" title="{{filter.description}}" (change)="parseAdvancedFilter()">
          }
          @if (filter.type == "timestamp") {
          <input class="input stac" type="date" name="filter" title="{{filter.description}}" (change)="parseAdvancedFilter()">
          }
          @if (filter.type == "boolean") {
          <input class="input stac" type="number" name="filter" [min]="0" [max]="1" title="{{filter.description}}" (change)="parseAdvancedFilter()">
          }
          @if (filter.type == "number") {
           <input class="input stac" type="number" name="filter" [min]="-999999" [max]="999999" [step]="1" title="{{filter.description}}" (change)="parseAdvancedFilter()">
          }

        </div>
        } -->
      </div>
      <hr>
    </div>
    }
    }
    <div id="advanced-search-footer"></div>
  </div>
  <div id="advanced-search-scroll-thumb"></div>
</form>

<!-- Product List Container -->
<div id="product-list-container" class="hidden">
  <div id="product-list-div">
    <div id="product-list-header">
      @if (productTotalNumber == 0) {
      <div id="product-list-header-text">No products found..</div>
      }
      @if(productTotalNumber > 0) {
      <div id="page-buttons-div">
        <mat-icon id="load-prev" class="load-page-icon" aria-hidden="false" aria-label="load prev page" title="Load prev page" fontIcon="navigate_before" (click)="loadPageFromButtons(-1)"></mat-icon>
        <mat-icon id="load-next" class="load-page-icon" aria-hidden="false" aria-label="load next page" title="Load next page" fontIcon="navigate_next" (click)="loadPageFromButtons(1)"></mat-icon>
      </div>
      <div id="product-list-header-text" title="Order By: {{returnOptionNameFromValue(orderBy, orderByOptions)}} - {{returnOptionNameFromValue(sortBy, sortByOptions)}}">Displaying {{productStartNumber}} to {{productEndNumber}} of {{productTotalNumber}} products</div>
      <div id="product-list-header-icons-div">
        <mat-icon id="detailed-view" class="view-style-icon" aria-hidden="false" aria-label="detailed view" title="Detailed view" fontIcon="format_align_justify" (click)="setListView('detailed')"></mat-icon>
        <mat-icon id="simple-view" class="view-style-icon" aria-hidden="false" aria-label="simple view" title="Simple view" fontIcon="notes" (click)="setListView('simple')"></mat-icon>
        <mat-icon id="minimal-view" class="view-style-icon" aria-hidden="false" aria-label="minimal view" title="Minimal view" fontIcon="short_text" (click)="setListView('minimal')"></mat-icon>
      </div>
      }
    </div>
    <div id="list-items-parent-container">
      <div id="list-items-container">
        @for (product of productList.value; let idx = $index; track product;) {
        <div class="list-item-div" [attr.data-productid]="product.Id" (mouseover)="hoverProduct($event)" (mouseleave)="leaveProduct($event)">
          @if (product.Name != null && (showSimpleView == showDetailedView)) {
          <div class="product-name-div">
            <div class="product-name-value">{{product.Name}}</div>
          </div>
          }
          @if (showSimpleView == false && showDetailedView == false) {
          <div class="minimal-buttons-div">
            <ng-template [ngTemplateOutlet]="progressBar"></ng-template>
            <ng-template [ngTemplateOutlet]="qlButtons"></ng-template>
          </div>
          }
          @if (product.Name != null && (showSimpleView)) {
          <div class="product-data-row-div">
            <div class="product-data-column-div">
              <div class="product-metadata-column-div">
                <div class="metadata-row" title="Platform">
                  <mat-icon class="metadata-icon" aria-hidden="false" aria-label="product" fontIcon="satellite_alt"></mat-icon>
                  <div class="metadata-value">{{product.platformShortName}}{{product.platformSerialIdentifier}}</div>
                </div>
                <div class="metadata-row" title="Sensing Start">
                  <mat-icon class="metadata-icon" aria-hidden="false" aria-label="product-sensing" fontIcon="today"></mat-icon>
                  @if (product.ContentDate.Start != null) {
                  <div class="metadata-value">{{product.ContentDate.Start}}</div>
                  }
                </div>
                <div class="metadata-row" title="Publication Date">
                  <mat-icon class="metadata-icon" aria-hidden="false" aria-label="product-publication-date" fontIcon="event"></mat-icon>
                  @if (product.PublicationDate != null) {
                  <div class="metadata-value">{{product.PublicationDate}}</div>
                  }
                </div>
                <div class="metadata-row" title="Size">
                  <mat-icon class="metadata-icon" aria-hidden="false" aria-label="product-size" fontIcon="dns"></mat-icon>
                  @if (product.ContentLength != null) {
                  <div class="metadata-value">{{product.ContentLength}}</div>
                  }
                  <div class="metadata-value-italic">bytes</div>
                  @if (product.ContentLength != null) {
                  <div class="metadata-value-simplified">({{simplifyBytes(product.ContentLength)}})</div>
                  }
                </div>
              </div>
              <ng-template [ngTemplateOutlet]="progressBar"></ng-template>
            </div>
            <div class="tag-ql-div">
              <div class="tag-div">
                @for (tag of product.tags; track tag;) {
                <div class="tag" [ngStyle]="{'background-color': tag.color}" [title]="tag.title ? tag.title.concat(': ').concat(tag.value) : tag.name">
                  <p>{{beautifyTag(tag.value)}}</p>
                </div>
                }
              </div>

              <div class="ql-div">
                @if (product.hasQL == true && showSimpleView) {
                <div class="ql">
                  <img class="quicklook" [src]="product.qlURL">
                </div>
                }
                @if ((product.hasQL == false || product.hasQL == null) && showSimpleView) {
                <div class="ql">
                  <img class="quicklook" src="./assets/images/no-preview-1.png">
                </div>
                }

                <ng-template [ngTemplateOutlet]="qlButtons"></ng-template>
              </div>
            </div>
          </div>
          }

          <!-- Product Action Buttons Template -->
          <ng-template #qlButtons>
            <div class="ql-buttons-div">
              @if (product.isSelected === true) {
              <mat-icon class="item-button-icon product-selected" aria-hidden="false" aria-label="Unselect Product" title="Unselect Product" fontIcon="remove"
              (click)="onHideProductDetails(product.Id, idx)"></mat-icon>
              }
              @if (product.isSelected === false) {
              <mat-icon class="item-button-icon product-unselected" aria-hidden="false" aria-label="Select Product" title="Select Product" fontIcon="add"
              (click)="onShowProductDetails(product.Id, idx)"></mat-icon>
              }
              @if (product.Footprint || product.GeoFootprint) {
                <mat-icon class="material-symbols-outlined item-button-icon" title="Zoom To Map Position" aria-hidden="false" aria-label="Zoom To Map" fontIcon="travel_explore"
              (click)="onZoomToProduct(product.Id)"></mat-icon>
              }
              @else {
                <mat-icon class="material-symbols-outlined item-button-icon disabled" title="Missing Footprint" aria-hidden="false" aria-label="Zoom To Map" fontIcon="travel_explore">
                </mat-icon>
              }
              <mat-icon class="item-button-icon" aria-hidden="false" aria-label="Copy Product Url" title="Copy Product Url" fontIcon="file_copy"
              (click)="copyUrl(product.Id)"></mat-icon>
              <!-- <ng-template [ngIf]="product.download.state" [ngIfElse]="downloadDefault"> -->
              @if (product.download.state) {
              @if (product.download.state == 'DONE') {
              <mat-icon class="item-button-icon downloaded" aria-hidden="false" aria-label="Download Product" title="Download Product" fontIcon="download"
                (click)="downloadProduct(product.Id, product.Name)"></mat-icon>
              }
              @else if (product.download.state == 'IN_PROGRESS' || product.download.state == 'PENDING') {
              <mat-icon class="progress-cancel" aria-hidden="false" aria-label="cancel-download" title="Cancel download" fontIcon="clear"
                (click)="unsubscribeDownload(product.Id)"></mat-icon>
              }
              }
              @else {
              <mat-icon class="item-button-icon" aria-hidden="false" aria-label="Download Product" title="Download Product" fontIcon="download"
                (click)="downloadProduct(product.Id, product.Name)"></mat-icon>
              }
            </div>
          </ng-template>

          <!-- Download Progress Bar Template -->
          <ng-template #progressBar>
            <div class="progress-div">
              @if (product.download && (product.download.state == 'IN_PROGRESS' || product.download.state == 'PENDING' )) {
              <mat-progress-bar class="progress-bar"
                [mode]="product.download.state == 'PENDING' ? 'determinate' : 'determinate'"
                [value]="product.download.progress">
              </mat-progress-bar>
              <div class="progress-value">
                {{product.download.progress}}%
              </div>
              }
            </div>
          </ng-template>

        </div>
        }
      </div>
    </div>
  </div>
  <!-- product list scroll bar -->
  <div id="product-list-scroll-thumb"></div>




  <!-- product details panel -->
  <div id="product-details-container" class="hidden">
    <div id="product-details-container-title">
      <div id="product-details-container-left-buttons">
        <mat-icon id="scroll-details-left" class="item-button-icon" aria-hidden="false" aria-label="Scroll Left" title="Scroll Left" fontIcon="navigate_before"
          (click)="onScrollDetailsLeft()"></mat-icon>
        <mat-icon id="scroll-details-right" class="item-button-icon" aria-hidden="false" aria-label="Scroll Right" title="Scroll Right" fontIcon="navigate_next"
          (click)="onScrollDetailsRight()"></mat-icon>
        <p>Products Details</p>
      </div>
      <div id="product-details-container-right-buttons">
        <mat-icon class="item-button-icon" aria-hidden="false" aria-label="Hide All Product Details" title="Hide All Product Details" fontIcon="visibility_off"
          (click)="onHideAllProductDetails()"></mat-icon>
      </div>
    </div>
    <div id="product-details-item-list-container">
      @for (selectedProduct of selectedProducts; track selectedProduct;) {
      <div class="product-details-item-container">
        <div class="product-details-inner-container">
          <div class="product-details-header">
            <p>{{selectedProduct.Name}}</p>
          </div>
          <div class="product-details-div">
            <hr>
            <div style="position: relative">
              @if (selectedProduct.hasQL == true) {
              <div class="product-details-ql">
                <img class="product-details-quicklook" [src]="selectedProduct.qlURL">
              </div>
              }
              @if (selectedProduct.hasQL == null || selectedProduct.hasQL == false) {
              <div class="product-details-ql">
                @if (!(selectedProduct.download.state == 'IN_PROGRESS' || selectedProduct.download.state == 'PENDING' )) {
                <p>No Preview Available</p>
                }
              </div>
              }
              <!-- download buttons -->
              <div class="product-details-download-column-div">
                <div class="product-details-download-row-div">
                  <div class="progress-div">
                    @if (selectedProduct.download && (selectedProduct.download.state == 'IN_PROGRESS' || selectedProduct.download.state == 'PENDING' )) {
                    <mat-progress-bar class="progress-bar"
                      [mode]="selectedProduct.download.state == 'PENDING' ? 'determinate' : 'determinate'"
                      [value]="selectedProduct.download.progress">
                    </mat-progress-bar>
                    <div class="progress-value">
                      {{selectedProduct.download.progress}}%
                    </div>
                    }
                  </div>
                  <div class="product-details-download-buttons-div">
                    <mat-icon class="item-button-icon unselect-product" aria-hidden="false" aria-label="Unselect Product" title="Unselect Product" fontIcon="remove"
                      (click)="onHideProductDetails(selectedProduct.Id, selectedProduct.productListIndex)"></mat-icon>
                    <mat-icon class="item-button-icon material-icons-outlined zoom-to-list" aria-hidden="false" aria-label="Zoom Product On List" title="Show Product In List" fontIcon="manage_search"
                      (click)="onZoomToList(selectedProduct)"></mat-icon>
                    <mat-icon class="item-button-icon" aria-hidden="false" aria-label="Copy Product Url" title="Copy Product Url" fontIcon="file_copy"
                      (click)="copyUrl(selectedProduct.Id)"></mat-icon>
                    @if (selectedProduct.download.state) {
                      @if (selectedProduct.download.state == 'DONE') {
                      <mat-icon class="item-button-icon downloaded" aria-hidden="false" aria-label="Download Product" title="Download Product" fontIcon="download"
                        (click)="downloadProduct(selectedProduct.Id, selectedProduct.Name)"></mat-icon>
                      }
                      @else if (selectedProduct.download.state == 'IN_PROGRESS' || selectedProduct.download.state == 'PENDING') {
                      <mat-icon class="progress-cancel" aria-hidden="false" aria-label="cancel-download" title="Cancel download" fontIcon="clear"
                        (click)="unsubscribeDownload(selectedProduct.Id)"></mat-icon>
                      }
                    }
                    @else {
                      <mat-icon class="item-button-icon" aria-hidden="false" aria-label="Download Product" title="Download Product" fontIcon="download"
                        (click)="downloadProduct(selectedProduct.Id, selectedProduct.Name)"></mat-icon>
                    }
                  </div>
                </div>
                @if (selectedProduct.hasQL == true) {
                <div class="product-details-download-column-div-spacer"></div>
                }
              </div>
            </div>
            <hr>
            <div class="product-details-attributes-div">
              <p>
                Properties
              </p>
              <table class="properties-table">
                <tr>
                  <th style="width: 40%;">Name</th>
                  <th style="width: 60%;">Value</th>
                </tr>
                @for (property of propertiesList; track property;) {
                <tr title="{{beautifyCamelCase(property)}}: {{getTypeOf(selectedProduct[property]) === 'object' ? '' : selectedProduct[property]}}">
                  @if (selectedProduct.hasOwnProperty(property)) {
                  <td class="properties-table-name">{{beautifyCamelCase(property)}}</td>
                  @if ((getTypeOf(selectedProduct[property]) === 'string' || getTypeOf(selectedProduct[property]) === 'number') && selectedProduct[property] !== null) {
                  <td class="properties-table-value">{{selectedProduct[property]}}</td>
                  }
                  @if ((getTypeOf(selectedProduct[property]) === 'object') && beautifyCamelCase(property) !== 'Footprint' && selectedProduct[property] !== null) {
                  <td class="properties-table-value">
                    <ng-container [ngTemplateOutlet]='Array.isArray(selectedProduct[property]) ? array : notArray' [ngTemplateOutletContext]="{obj:selectedProduct[property]}" class="properties-table-value"></ng-container>
                    <ng-template #array let-obj='obj'>
                      @for (item of obj; let idx = $index; track item;) {
                      <span>
                        <ng-container [ngTemplateOutlet]='notArray' [ngTemplateOutletContext]="{obj:item, idx:idx}"></ng-container>
                      </span>
                      }
                    </ng-template>
                    <ng-template #notArray let-obj='obj' let-idx='idx'>
                      <table class="inner-table">
                        @for (key of Object.keys(obj); track key) {
                        <tr title="{{key}}: {{obj[key]}}">
                          <td style="width: 40%;" class="inner-table-name">{{key}}</td>
                          <td style="width: 60%;" class="inner-table-value">{{obj[key]}}</td>
                        </tr>
                        }
                        @if (idx >= 1) {
                        <tr>
                        </tr>
                        }
                      </table>
                    </ng-template>
                  </td>
                  }
                  @if (getTypeOf(selectedProduct[property]) === 'object' && selectedProduct[property] === null) {
                    <td class="properties-table-value" title="no footprint"></td>
                  }
                  }

                </tr>
                }
              </table>
              <hr>
              <p>
                Attributes
              </p>
              @if (selectedProduct.Attributes.length > 0) {
              <table class="attributes-table">
                <tr>
                  <th style="width: 40%;">Name</th>
                  <th style="width: 60%;">Value</th>
                </tr>
                @for (attribute of selectedProduct.Attributes; track attribute) {
                <tr title="{{beautifyCamelCase(attribute.Name)}}: {{attribute.Value}}">
                  <td class="attribute-table-name">{{beautifyCamelCase(attribute.Name)}}</td>
                  <td class="attribute-table-value">{{attribute.Value}}</td>
                </tr>
                }
              </table>
              }
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <!-- show hide button -->
  @if (productTotalNumber > 0) {
  <div id="show-hide-button-container">
    @if (productDetailsContainerIsRolled === true && selectedProducts.length > 0) {
    <div id="show-all-product-details" title="Show All Product Details" (click)="onShowAllProductDetails()">
      <mat-icon class="item-button-icon" aria-hidden="false" aria-label="Show All Product Details" fontIcon="visibility_on"></mat-icon>
    </div>
    }
    <div id="show-hide-button" [title]="productListRolled ? 'Show list' : 'Hide list'" (click)="onShowHideButtonClick($event)">
      @if (productListRolled == true) {
      <mat-icon id="show-hide-list-icon" class="showHideList-icon" aria-hidden="false" aria-label="showHideList">keyboard_arrow_right</mat-icon>
      }
      @else {
      <mat-icon id="show-hide-list-icon" class="showHideList-icon" aria-hidden="false" aria-label="showHideList">keyboard_arrow_left</mat-icon>
      }
    </div>
  </div>
  }
</div>

<!-- Footprint selection menu -->
<div id="footprint-menu-container" class="hidden" (mouseenter)="onMouseEnterFootprintMenu()" (mouseleave)="onMouseLeaveFootprintMenu()">
  <div id="footprints-menu-column-div">
    <div id="footprints-menu-title">
      Products
    </div>
    <div id="footprint-menu-scrollable-div">
      @for (product of hoveredProductShownArray; track product) {
      <div class="footprint-tooltip-list-container">
        <div class="footprint-tooltip-table-div">
          <table class="footprint-tooltip-table" (mouseover)="onMouseOverTooltipProductTable(product)" (mouseleave)="onMouseLeaveTooltipProductTable()" (mousedown)="onZoomToList(product)">
            <tr>
              <td style="width: 35%;">Platform</td>
              <td style="width: 65%;" title="{{product.platformShortName}}{{product.platformSerialIdentifier}}">{{product.platformShortName}}{{product.platformSerialIdentifier}}</td>
            </tr>
            @for (tag of product.tags; track tag) {
            <tr>
              <td>{{tag.name}}</td>
              <td title="{{tag.value}}">{{tag.value}}</td>
            </tr>
            }
          </table>
        </div>
        <div class="table-spacer"></div>
      </div>
      }
    </div>
  </div>
  <!-- footprints menu scroll bar -->
  <div id="footprints-menu-scroll-thumb"></div>
</div>

<!-- Service Fake Div -->
<div id="get-properties-div"></div>
