@use "src/vars" as *;
@use "sass:color";

#search-bar-main-div {
  z-index: 3;
  display: flex;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  padding: 0 0.5rem;
  width: $search-bar-width;
  height: $default-title-div-height;
  border-radius: 0.25rem;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  background-color: $main-dark-bg-color;
  color: $main-dark-text-color;
  font-size: $search-bar-font-size;
  line-height: $search-bar-font-size;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;

  transition: 250ms ease-in-out;
}

/* component global styles */
mat-icon:hover {
  opacity: 0.7;
}
option {
  background-color: $main-dark-bg-color;
}
select:hover {
  opacity: 0.7;
}
input:hover {
  opacity: 0.7;
}
hr {
  width: 100%;
  margin: 0;
  padding: 0;
  border-color: color.adjust($main-dark-text-color, $lightness: -35%);
}



#advanced-search-icon {
  color: white;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;
}
#advanced-search-icon-filtered {
  color: $copsi-blue;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;
}

#search-magnifier-icon-div {
  display: flex;
  height: 1.55rem;
}
#search-magnifier-icon {
  text-align: center;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;
}

/* Filter suggestion div */
#search-suggestion-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 95;
  width: $search-bar-width;
  top: calc($default-title-div-height);
  left: 0.5rem;
  padding: 0rem 1rem;
  opacity: 1.0;

  background-color: $main-dark-bg-color-opaque;
  border: $main-dark-border;
  border-radius: 0.25rem;
  box-shadow: $default-shadow;
  transition: opacity 0.25s ease-in-out;
}
#search-suggestion-div.hidden {
  opacity: 0;
}
#search-suggestion-div.display-none {
  display: none;
}
#search-suggestion-div ul {
  list-style-type: none;
  margin: 0.5rem 0rem 0.5rem 2rem;
  padding: 0;
}
#search-suggestion-div li {
  margin: 0.15rem 0;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  transition: background-color 0.25s ease-in-out;
}
#search-suggestion-div li.selected {
  background-color: #0008;
}

/* Filter Parsing div */
#filter-output-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 90;
  width: $search-bar-width;
  min-height: $default-title-div-height;
  max-height: 8.25rem;
  top: calc($default-title-div-height + 1rem);
  left: 0.5rem;
  gap: 0.25rem;
  border: $main-dark-border;
  border-radius: 0.25rem;
  box-shadow: $default-shadow;
  transition: 0.25s ease-in-out;
}
#filter-output-div.pinned {
  background-color: $main-dark-bg-color;
}
#filter-output-div.unpinned {
  background-color: $main-dark-bg-color-opaque;
}
#filter-output-div.hidden {
  opacity: 0.0;
  pointer-events: none;
}
#filter-output-div.visible {
  opacity: 1.0;
  pointer-events: visible;
}
#filter-output-div span {
  color: color.adjust($main-dark-text-color, $lightness: -15%);
  font-size: $search-bar-font-size-small;
  padding: 0;
  margin: 0;
}
#filter-output-div p {
  color: color.adjust($main-dark-text-color, $lightness: -15%);
  font-size: $search-bar-font-size-small;
  margin: 0;
  padding: 0 0.5rem 0.2rem 0.5rem;
}

#filter-output-label-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0.5rem 0.5rem 0.25rem 0.5rem;
}
#filter-output-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.1rem;
  margin: 0;
  padding: 0;
  font-size: $search-bar-font-size-small;
  color: color.adjust($main-dark-text-color, $lightness: -25%);
}
#filter-output-protocol-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: color.adjust($menu-dark-bg-color, $lightness: 10%);
  border: $main-dark-border;
  border-radius: 0.3rem;
  padding: 0.25rem 0.5rem;
  gap: 0.25rem;
  margin-right: 0.5rem;
  font-size: $search-bar-font-size-small;
  color: color.adjust($main-dark-text-color, $lightness: -25%);
}

#filter-output-protocol-div span {
  color: $main-dark-text-color;
}

#filter-output-icons-div {
  display: flex;
  flex-direction: row;
}
#copy-search-filter-output-icon {
  color: $main-dark-text-color;
  font-size: 1.0rem;
  width: 1rem;
  height: 1rem;
  line-height: 1.0rem;
  margin: 0 0.25rem;
  cursor: pointer;
}
#pin-search-filter-output-icon {
  cursor: pointer;
}
#pin-search-filter-output-icon.unpinned {
  color: $main-dark-text-color;
  font-size: 1.0rem;
  width: 1rem;
  height: 1rem;
  line-height: 1.0rem;
  margin: 0 0.25rem;
}
#pin-search-filter-output-icon.pinned {
  color: $copsi-blue;
  font-size: 1.0rem;
  width: 1rem;
  height: 1rem;
  line-height: 1.0rem;
  margin: 0 0.25rem;
}

#filter-output-scrollable-div {
  overflow-y: auto;
  padding: 0;
}

/* Scrollbar hiding */
#filter-output-scrollable-div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#filter-output-scrollable-div::-webkit-scrollbar {
  display: none;  /* Chrome */
}
#filter-output-scrollable-div pre {
  margin: 0;
}

#filter-output-scroll-thumb {
  visibility: hidden;
  position: absolute;
  z-index: 99;
  width: 0.5rem;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  height: 1rem;
  background-color: $main-dark-text-color;
  border-radius: 0.25rem;
  right: -0.55rem;
  margin: 2.25rem 0 0 0;
  top: 0;
  opacity: 1.0;
  pointer-events: visible;
  cursor: pointer;
}



/* Advanced Search */
#advanced-search-menu {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0.5rem 0;
  gap: 0;
  left: 0.5rem;
  width: $search-bar-width;
  height: auto;
  bottom: 0;
  background-color: transparent;
  color: $main-dark-text-color;

  transition: 250ms ease-in-out;
}

#advanced-search-menu.hidden {
  visibility: hidden;
  opacity: 0.0;
  top: 2.5rem;
}
#advanced-search-menu.visible {
  visibility: visible;
  opacity: 1.0;
  top: 3rem;
}

#advanced-search-title-div {
  display: flex;
  flex-direction: row;
  background-color: $main-dark-bg-color;
  width: 100%;
  font-size: $search-bar-font-size;
  padding: 0 0.5rem;
  border: $main-dark-border;
  border-radius: 0.25rem 0.25rem 0 0;
  box-shadow: $default-shadow;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

#advanced-search-title-div mat-icon {
  transform: scale(0.75);
}

#advanced-search-title-div p {
  color: white;
  font-size: $search-bar-font-size;
  padding: 0;
  margin: 0;
}
#advanced-search-clear-icon, #advanced-search-submit-icon {
  font-size: 1.5rem;
  line-height: 1.75rem;
  cursor: pointer;
}

#advanced-search-scrollable-container {
  width: 100%;
  margin: 0;
  overflow-y: auto;
  background-color: transparent;

  border: $main-dark-border;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: $default-shadow;
}

/* Scrollbar hiding */
#advanced-search-scrollable-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#advanced-search-scrollable-container::-webkit-scrollbar {
  display: none;  /* Chrome */
}

#advanced-search-scroll-thumb {
  visibility: hidden;
  position: absolute;
  z-index: 99;
  width: 0.5rem;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  height: 6rem;
  background-color: $main-dark-text-color;
  border-radius: 0.25rem;
  right: -0.5rem;
  margin: 0;
  margin-top: 1.85rem; //7.85rem when filter output is visible;
  top: 0;
  opacity: 1.0;
  pointer-events: visible;
  transition: background-color 0.1s linear;
  cursor: pointer;
}

.advanced-search-main-filters {
  width: 100%;
  padding: 0.5rem 0;
  background-color: $menu-dark-bg-color;
}

.advanced-search-item-div {
  z-index: 10;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.25rem 1rem;
  background-color: transparent;
  justify-content: space-between;
}

.advanced-search-item-div label {
  color: color.adjust($main-dark-text-color, $lightness: -25%);
  font-size: $search-bar-font-size;
}

.advanced-search-item-div .select {
  width: 60%;
  --webkit-appearance: none;
  color: $main-dark-text-color-select;
  background-color: transparent;
  font-size: $search-bar-font-size-small;
  border: 0;
  border-bottom: $main-light-border;
  text-align: right;
  cursor: pointer;
}

.datepicker-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.advanced-search-item-div .date {
  --webkit-appearance: none;
  color: $main-dark-text-color-select;
  background-color: transparent;
  font-family: "NotesESA-Reg";
  font-size: $search-bar-font-size-small;
  padding: 0;
  border: 0;
  border-bottom: $main-light-border;
  text-align: right;
  color-scheme: dark;
  cursor: pointer;
}

.advanced-search-filter-div {
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.25rem 1rem;
  background-color: transparent;
  justify-content: space-between;
}

.advanced-search-filter-div label {
  color: color.adjust($main-dark-text-color, $lightness: -25%);
  font-size: $search-bar-font-size;
}

.advanced-search-filter-div .select {
  width: 60%;
  --webkit-appearance: none;
  color: $main-dark-text-color-select;
  background-color: transparent;
  font-size: $search-bar-font-size-small;
  border: 0;
  border-bottom: $main-light-border;
  text-align: right;
  cursor: pointer;
}

.advanced-search-filter-div .input, .input-min, .input-max {
  width: 60%;
  color: $main-dark-text-color-select;
  font-size: $search-bar-font-size-small;
}
.advanced-search-filter-div .input.stac, .input-min.stac, .input-max.stac {
  width: 60%;
}
.advanced-search-filter-div > :last-child {
  margin-left: auto;
}

.collapsible-section {
  width: 100%;
  background-color: transparent;
}

.collapsible-header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $main-dark-bg-color;
}

.collapsible-header {
  background-color: transparent;
  color: white;
  font-family: "NotesESA-Reg", Arial, Helvetica, sans-serif;
  font-size: $search-bar-font-size;
  padding: 0.5rem 0.5rem;
  margin: 0;
  width: 100%;
  border: none;
  text-align: left;
}

/* Sliding checkboxes */
.mission-filter-slider-div {
  margin: 0 0 0.5rem 0;
}
.mission-filter-slider-div:hover {
  opacity: 0.7;
}
.switch input {
  display: none;
}

.switch {
  display: inline-block;
  width: $switch-width;
  height: $switch-height;
  margin: 0 0.5rem;
  transform: translateY(50%);
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: $switch-height;
  box-shadow: 0 0 0 1px color.adjust($main-dark-text-color, $lightness: -35%);
  cursor: pointer;
  border: 2px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: color.adjust($main-dark-text-color, $lightness: -35%);
  border-radius: $switch-height;
  transform: translateX(- calc($switch-width - $switch-height)); /*translateX(-(w-h))*/
  transition: 0.2s;
}

.collapsible-header-div.active .slider:before {
  transform: translateX(calc($switch-width - $switch-height)); /*translateX(w-h)*/
  background-color: $copsi-blue;
}
.collapsible-header-div.active .slider {
  box-shadow: 0 0 0 1px $copsi-blue !important;
}

.content {
  padding: 0;
  background-color: $menu-dark-bg-color;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}


/* Combo */
.filter-select-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 60%;
}
.selected-options-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0.25rem;
  align-items: stretch;
  justify-content: flex-end;
  pointer-events: none;
}
.selected-option-placeholder {
  padding: 0;
  margin: 0;
  opacity: 0.7;
}
.selected-option-placeholder:hover {
  opacity: 0.4;
}
.selected-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1px 0.15rem;
  gap: 0.25rem;
  border: $main-dark-border;
  background-color: $main-dark-bg-color;
  color: $main-dark-text-color;
  font-size: $search-bar-font-size-small;
}
.selected-option-button {
  padding: 0;
  margin: 0;
  font-size: $search-bar-font-size-small;
  width: $search-bar-font-size-small;
  height: $search-bar-font-size-small;
  pointer-events: visible;
}
.filter-select-div {
  border: 0;
  border-bottom: $main-light-border;
}
.filter-select-div:hover {
  background-color: #ffffff10;
}

/* combo select */
.combo-select-container {
  z-index: 9;
  align-self: flex-end;
  position: relative;
  top: 0;
  width: 100%;
  max-height: 0rem;
  flex-direction: column;
  border: $main-dark-border;
  gap: 0.25rem;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.25rem;
  background-color: $main-dark-bg-color-opaque;
  opacity: 0.0;
  overflow-y: auto;

  transition: max-height 200ms ease-in-out, opacity 100ms ease-in-out;
}
.combo-select-container.hidden {
  display: none;
  height: 0;
}
.combo-select-container.visible {
  display: flex;
  height: auto;
}
.combo-select-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.combo-select-button {
  --webkit-appearance: none;
  color: $main-dark-text-color-select;
  background-color: transparent;
  font-size: $search-bar-font-size-small;
  border: 0;
  text-align: right;
  cursor: pointer;
}
.combo-select-button:hover {
  opacity: 0.7;
}
.combo-select-button.selected {
  opacity: 0.3;
  pointer-events: none;
}
.combo-select-button-remove {
  padding: 0;
  margin: 0;
  visibility: hidden;
  font-size: $search-bar-font-size-small;
  width: $search-bar-font-size-small;
  height: $search-bar-font-size-small;
  pointer-events: visible;
}
.combo-select-button.selected + .combo-select-button-remove {
  visibility: visible;
}


/* Hide number input arrows */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}
input {
  margin: 0;
  padding: 0 0.5rem;
  color: $main-dark-text-color;
  background-color: transparent;
  border: 0;
  border-bottom: $main-light-border;
  border-radius: 0;
  text-align: left;
}
input:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.min-max-input-div {
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.min-max-input-div input {
  padding: 0;
  width: 45%;
}
input:invalid {
  border-color: orangered !important;
  color: orangered !important;
}

#search-input {
  flex-grow: 10;
  margin: 0 1.0rem;
  font-size: $search-bar-font-size;
}

#advanced-search-footer {
  height: 1.0rem;
  background-color: $main-dark-bg-color;
}

.invalid {
  color: orangered !important;
}


/* List: */
#product-list-container {
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  height: auto;
  padding: 0;
  bottom: 0;
  border-radius: 0.25rem;
  color: $main-dark-text-color;
  pointer-events: none;
  transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
#product-list-container.hidden {
  visibility: hidden;
  top: 2.5rem;
  opacity: 0.0;
}
#product-list-container.visible {
  visibility: visible;
  top: 3rem;
  opacity: 1.0;
}

#product-list-div {
  display: flex;
  flex-direction: column;
  color: $main-dark-text-color;
}

#product-list-header {
  display: flex;
  flex-direction: row;
  width: $search-bar-width;
  justify-content: space-between;
  align-items: center;
  background-color: $main-dark-bg-color;
  box-shadow: $default-shadow;
  margin: 0;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  border-bottom: 1px solid black;
  transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
  pointer-events: visible;
}
#product-list-header-text {
  font-size: $search-bar-font-size;
  cursor: default;
}
#page-buttons-div {
  display: flex;
}
.load-page-icon {
  cursor: pointer;
  font-size: $search-bar-product-icons-dim;
  width: $search-bar-product-icons-dim;
  height: $search-bar-product-icons-dim;
  transition: opacity 0.15s ease-in-out, color 0.25s linear;
}
#load-prev, #load-next {
  opacity: 0.4;
}
#load-prev.active, #load-next.active {
  opacity: 1.0;
}
#load-prev.active:hover, #load-next.active:hover {
  opacity: 0.7;
}

#sort-order-div {
  display: flex;
  flex-direction: row;
  margin-left: 1.0rem;
}
#sort-order-div p {
  font-size: $search-bar-font-size-small;
  color: color.adjust($main-dark-text-color, $lightness: -25%);
  margin: 0;
  cursor: default;
}
.order-by-icon {
  font-size: 1.0rem;
  line-height: 1rem;
  height: 1.0rem;
  color: color.adjust($main-dark-text-color, $lightness: -25%);
}

#product-list-header-icons-div {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.view-style-icon{
  cursor: pointer;
  font-size: $search-bar-product-icons-dim;
  width: $search-bar-product-icons-dim;
  height: $search-bar-product-icons-dim;
  transition: opacity 0.15s ease-in-out;
}
#list-items-parent-container {
  display: flex;
  flex-direction: row;
  bottom: 0;
  overflow: hidden;
  padding: 0.1rem 0 0.5rem 0;
  gap: 0 0.5rem;
  pointer-events: none;
}

#list-items-container {
  display: flex;
  flex-direction: column;
  width: $search-bar-width;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.25rem;
  margin: 0;
  padding: 0 0 0 0;
  gap: 0.25rem;
  transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
  scroll-behavior: smooth;
  pointer-events: visible;
}
/* Scrollbar hiding */
#list-items-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#list-items-container::-webkit-scrollbar {
  display: none;  /* Chrome */
}

#product-list-scroll-thumb {
  visibility: visible;
  position: relative;
  z-index: 99;
  width: 0.5rem;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  height: 6rem;
  background-color: $main-dark-text-color;
  border-radius: 0.25rem;
  margin: 2.2rem 0 0 0;
  top: 0;
  opacity: 1.0;
  pointer-events: visible;
  transition: background-color 0.1s linear;
  cursor: pointer;
}

/* list item */
.list-item-div {
  display: flex;
  flex-direction: column;
  border: $main-dark-border;
  border-radius: 0.25rem;
  box-shadow: $default-shadow;
  pointer-events: visible;
}
.list-item-div.hover {
  background-color: #fff;
  border-color: $menu-dark-bg-color;
}
.list-item-div.selected {
  border: 2px solid $copsi-blue;
}

/* Product Name */
.product-name-div {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  height: 2.5rem;
  border-radius: 0.15rem 0.15rem 0 0;
  background-color: $main-dark-bg-color;
  align-items: center;
}
.product-name-value {
  word-break: break-all;
  text-align: left;
  color: $product-name-color;
  font-size: $search-bar-font-size-small;
}
.minimal-buttons-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 0.25rem 0.25rem 0.25rem;
  background-color: $main-dark-bg-color;
  justify-content: space-between;
  gap: 0.25rem;
}

/* Product data */
.product-data-row-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25rem;
  border-radius: 0 0 0.15rem 0.15rem;
  background-color: $menu-dark-bg-color;
}
.product-data-column-div {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
}

/* Progress bar */
::ng-deep .mat-progress-bar-fill::after {
  background-color: $copsi-blue;
}
::ng-deep .mat-progress-bar-buffer {
  background: #000000;
}
::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
.progress-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-right: 0.25rem;
  align-items: center;
}
.progress-bar {
  width: 100%;
}
.progress-value {
  font-size: $search-bar-font-size-small;
}
.progress-cancel {
  cursor: pointer;
  font-size: $search-bar-product-icons-dim;
  width: $search-bar-product-icons-dim;
  height: $search-bar-product-icons-dim;
  transition: opacity 0.15s ease-in-out;

  color: red;
}
.progress-done {
  font-size: $search-bar-product-icons-dim;
  width: $search-bar-product-icons-dim;
  height: $search-bar-product-icons-dim;
}

/* metadata */
.product-metadata-column-div {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
  gap: 0.25rem;
}
.metadata-row {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}
.metadata-icon {
  font-size: $search-bar-product-icons-dim;
  padding-right: 1rem;
  margin: 0;
  width: $search-bar-product-icons-dim;
  height: $search-bar-product-icons-dim;
}
.metadata-value-italic{
  color: color.adjust($main-dark-text-color, $lightness: -25%);
  font-style: italic;
  font-size: $search-bar-font-size-small;
}
.metadata-value{
  text-align: left;
  font-size: $search-bar-font-size-small;
}
.metadata-value-simplified {
  color: color.adjust($main-dark-text-color, $lightness: -25%);
  font-style: italic;
  text-align: left;
  font-size: $search-bar-font-size-small;
}

/* Tag and QL div */
.tag-ql-div {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.tag-div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: stretch;
}
.tag {
  display: flex;
  flex-direction: row;
  border: $main-dark-border;
  border-radius: 3px;
  margin: 0;
  padding: 0 0.2rem;
  text-align: center;
  justify-content: center;
  width: 4.5rem;
  height: 1rem;
  cursor: default;
}
.tag p {
  margin: 0;
  font-size: $search-bar-font-size-small;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: hidden;
}

/* Quick look */
.ql-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5.5rem;
  height: 6rem;
  justify-content: space-evenly;
  padding: 0 0.2rem;
  padding: 0;
  background-color: $main-dark-bg-color;
  border: $main-dark-border;
  border-radius: 3px;
}
.ql{
  display: flex;
  width: 5.3rem;
  height: 4.5rem;
  justify-content: center;
  align-items: center;
}

.quicklook{
  max-width: 5.3rem;
  max-height: 4.5rem;
}

.ql-buttons-div {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin: 0;
  justify-content: space-evenly;
}
.item-button-icon{
  cursor: pointer;
  font-size: $search-bar-product-icons-dim;
  width: $search-bar-product-icons-dim;
  height: $search-bar-product-icons-dim;
  transition: opacity 0.15s ease-in-out;
}
.item-button-icon.disabled{
  color: #888;
}
.product-selected{
  color: $copsi-blue;
}
.product-unselected{
  color: white;
}
.downloaded {
  color: $copsi-blue;
}

/* Show/Hide button */
#show-hide-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: auto;
  background-color: $menu-dark-bg-color;
  color: $main-dark-text-color;
  border: $main-dark-border;
  border-radius: 0.3rem;
  margin: 0;
  padding: 0;
  align-self: center;
  box-shadow: $default-shadow;
  pointer-events: visible;
  cursor: pointer;
}
#show-hide-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  margin: 0;
}
#show-hide-list-icon {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}
#show-all-product-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  margin: 0;
}



/* Product details */
#product-details-container {
  display: flex;
  flex-direction: column;
  top: -3rem;
  gap: 0.1rem;
  max-width: calc(100vw - $search-bar-width - 7.3rem);
  height: auto;
  background-color: transparent;
  transition: opacity 250ms ease-in-out, margin-left 250ms ease-in-out;
  cursor: default;
}
#product-details-container.hidden {
  visibility: hidden;
  width: 0;
  margin: 0;
  opacity: 0;
}
#product-details-container.visible {
  visibility: visible;
  width: auto;
  margin: 0 0.5rem 0.5rem 1rem;
  opacity: 1;
}

#product-details-container-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $main-dark-bg-color;
  border: $main-dark-border;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: $search-bar-font-size;
  align-items: center;
  justify-content: space-between;

  cursor: default;
  pointer-events: visible;
}
#product-details-container-title p {
  margin: 0 0 0 1rem;
}
#product-details-container-left-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product-details-container-right-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#scroll-details-left, #scroll-details-right {
  opacity: 0.4;
}
#scroll-details-left.active, #scroll-details-right.active {
  opacity: 1.0;
}
#scroll-details-left.active:hover, #scroll-details-right.active:hover {
  opacity: 0.7;
}
#product-details-item-list-container {
  display: flex;
  flex-direction: row;
  height: auto;
  gap: 0.125rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

  cursor: default;
  pointer-events: visible;
}
/* Scrollbar hiding */
#product-details-item-list-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#product-details-item-list-container::-webkit-scrollbar {
  display: none;  /* Chrome */
}



/* Single product container */
.product-details-item-container {
  display: flex;
  flex-direction: column;
  width: $product-details-width;
  min-width: $product-details-width;
  gap: 0.1rem;
  background-color: transparent;
}
.product-details-title-buttons-div {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  padding: 0 0.25rem 0 0.5rem;
}

.zoom-to-list{
  /* color: $copsi-blue; */
  color: white;
}
.zoom-to-list.is-not-in-list{
  color: white;
  opacity: 0.5;
}
.zoom-to-list.is-not-in-list:active {
  pointer-events: none;
}
.unselect-product {
  /* color: $copsi-blue; */
  color: white;
}

.product-details-inner-container {
  display: flex;
  flex-direction: column;
  border: $main-dark-border;
  border-radius: 0.25rem;
  background-color: transparent;
  pointer-events: visible;
  overflow-y: auto;
}
.product-details-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $main-dark-bg-color;
  padding: 0.25rem;
}
.product-details-header p {
  margin: 0;
  word-break: break-all;
  text-align: left;
  color: $product-name-color;
  font-size: $search-bar-font-size-small;
}
.product-details-div {
  display: flex;
  flex-direction: column;
}

/* Product Detail Quick look */
.product-details-ql {
  display: flex;
  background-color: $main-dark-bg-color;
  padding: 0.5rem 0.5rem;
  justify-content: center;
  min-height: 2rem;
  font-size: $search-bar-font-size-small;
}
.product-details-ql p {
  margin: 0;
}
.product-details-quicklook {
  width: auto;
  height: auto;
  max-width: calc($product-details-width - 1rem);
  max-height: calc($product-details-width - 1rem);
}
.product-details-download-column-div {
  position: absolute;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #0003;
  transition: background-color 150ms linear;
}
.product-details-download-column-div:hover {
  background-color: #000a;
}
.product-details-download-row-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}
.product-details-download-buttons-div {
  display: flex;
  flex-direction: row;
  width: 5.3rem;
  min-width: 5.3rem;
  align-items: center;
  justify-content: space-evenly;
}
.product-details-download-column-div-spacer {
  height: 0.5rem;
  min-height: 0.5rem;
  width: 100%;
}
.product-details-attributes-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product-details-attributes-div p {
  width: 100%;
  background-color: $main-dark-bg-color;
  padding: 0.5rem;
  text-align: left;
  font-size: $search-bar-font-size;
  margin: 0;
}

/* attributes tables */
.properties-table {
  width: 100%;
  border: 1px solid $main-dark-bg-color;
  font-size: $search-bar-font-size-small;
  table-layout: fixed;
  border-collapse: collapse;
}
.properties-table th {
  border: 1px solid $main-dark-bg-color-opaque;
  text-align: left;
  padding-left: 0.5rem;
  color: color.adjust($main-dark-text-color, $lightness: -50%);
  background-color: $main-dark-bg-color;
}
.properties-table td {
  border: 1px solid $main-dark-bg-color;
  padding-right: 0.5rem;
  color: $main-dark-text-color;
  background-color: $menu-dark-bg-color;
}
.properties-table-name {
  color: color.adjust($main-dark-text-color, $lightness: -25%) !important;
}
.properties-table-value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.inner-table {
  width: 100%;
  border-width: 0;
  font-size: $search-bar-font-size-small;
  table-layout: fixed;
  border-collapse: collapse;
}
.inner-table th {
  border-width: 0;
  padding-left: 0.5rem;
  color: color.adjust($main-dark-text-color, $lightness: -50%);
  background-color: transparent;
}
.inner-table td {
  border-width: 0;
  padding-right: 0.5rem;
  color: $main-dark-text-color;
  background-color: transparent;
}
.inner-table-name {
  color: color.adjust($main-dark-text-color, $lightness: -25%) !important;
  white-space: nowrap;
}
.inner-table-value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.attributes-table {
  width: 100%;
  border: 1px solid $main-dark-bg-color;
  font-size: $search-bar-font-size-small;
  table-layout: fixed;
  border-collapse: collapse;
}
.attributes-table th {
  border: 1px solid $main-dark-bg-color-opaque;
  text-align: left;
  padding-left: 0.5rem;
  color: color.adjust($main-dark-text-color, $lightness: -50%);
  background-color: $main-dark-bg-color;
}
.attributes-table td {
  border: 1px solid $main-dark-bg-color;
  padding-right: 0.5rem;
  color: $main-dark-text-color;
  background-color: $menu-dark-bg-color;
}
.attribute-table-name {
  color: color.adjust($main-dark-text-color, $lightness: -25%) !important;
}
.attribute-table-value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

/* Scrollbar hiding */
.product-details-inner-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.product-details-inner-container::-webkit-scrollbar {
  display: none;  /* Chrome */
}
#product-detail-scroll-thumb {
  visibility: hidden;
  position: absolute;
  z-index: 99;
  width: 0.5rem;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  height: 1rem;
  background-color: $main-dark-text-color;
  border-radius: 0.25rem;
  right: 1.5rem;
  margin: 2.25rem 0 0 0;
  top: 0;
  opacity: 1.0;
  pointer-events: visible;
}


/* Footprints Menu */
#footprint-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: -5rem;
  width: 14rem;
  max-width: 14rem;
  min-width: 14rem;
  max-height: calc(100dvh - 1rem);
  padding: 0;
  gap: 0;
  z-index: 60;
  cursor: default;
}
#footprint-menu-container.visible {
  visibility: visible;
}
#footprint-menu-container.hidden {
  visibility: hidden;
}
#footprints-menu-column-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.15rem;
}

#footprint-menu-scrollable-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100dvh - 3rem);
  padding: 0;
  width: 100%;
  border: $main-dark-border;
  border-radius: 0.25rem;
  box-shadow: $default-shadow;
  overflow-y: auto;
}
/* Scrollbar hiding */
#footprint-menu-scrollable-div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#footprint-menu-scrollable-div::-webkit-scrollbar {
  display: none;  /* Chrome */
}

#footprints-menu-title {
  font-size: $search-bar-font-size;
  padding: 0.5rem 0 0.25rem 0;
  width: 100%;
  text-align: center;
  border-radius: 0.25rem;
  border: $main-dark-border;
  background-color: $main-dark-bg-color;
}

.footprint-tooltip-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footprint-tooltip-table-div {
  width: 100%;
  cursor: pointer;
}
.footprint-tooltip-table-div:hover {
  background-color: #fff;
  border-color: $menu-dark-bg-color;
}
.footprint-tooltip-table {
  background-color: $menu-dark-bg-color;
  width: 100%;
  padding: 0 0.25rem;
  font-size: 0.75rem;
}
.footprint-tooltip-table th, td {
  text-align: left;
  padding: 0 0.5rem 0 0;
  max-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: hidden;
}
.table-spacer {
  height: 0.5rem;
  background-color: $main-dark-bg-color;
}

#footprints-menu-scroll-thumb {
  visibility: hidden;
  position: absolute;
  z-index: 99;
  width: 0.5rem;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  height: 1rem;
  background-color: $main-dark-text-color;
  border-radius: 0.25rem;
  right: -0.5rem;
  margin: 2.0rem 0 0 0;
  top: 0;
  opacity: 1.0;
  pointer-events: visible;
}

.svg-icon {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0.25rem;
}

/* trick to get css vars in js.. */
#get-properties-div {
  visibility: hidden;
  background-color: $copsi-blue;
  width: calc($product-details-width + 0.13rem);
}


.advanced-search-item-div .stac-disabled {
  color: color.adjust($main-dark-text-color, $lightness: -50%);
  cursor: default;
  pointer-events: none;
}

.advanced-search-item-div .stac-disabled:hover {
  color: color.adjust($main-dark-text-color, $lightness: -50%);
}



/* Responsiveness */
@media screen and (max-width: $screen-width-threshold-medium) {
  #search-bar-main-div, #advanced-search-menu, #product-list-header, #list-items-container, #filter-output-div  {
    width: $search-bar-width-mobile;
  }
  #product-details-container.visible {
    width: $product-details-width-mobile;
  }
  .advanced-search-item-div .date {
    font-size: $search-bar-font-size-small-mobile;
  }
  #product-list-header-text {
    font-size: $search-bar-font-size-mobile;
  }
  .product-name-value, #product-details-header p{
    font-size: $search-bar-font-size-small-mobile;
  }
  .metadata-value, .metadata-value-italic, .metadata-value-simplified {
    font-size: $search-bar-font-size-small-mobile;
  }
  .tag {
    width: 4rem;
    font-size: $search-bar-font-size-small-mobile;
  }
  .ql{
    width: 5.0rem;
    height: 4.0rem;
  }
}
