@use "src/vars" as *;

#toast-container-div {
  z-index: 99;
  display: flex;
  visibility: 'hidden';
  width: 100vw;
  flex-direction: row;
  position: absolute;
  bottom: 1.75rem;
  align-items: center;
  justify-content: center;
  opacity: 0.0;
  transition: opacity 0.25s linear, bottom 0.25s ease-in-out, visibility 0.25s linear;
  pointer-events: none;
}

#toast-main-div {
  z-index: 99;
  display: flex;
  width: $header-menu-width;
  height: $default-title-div-height;
  padding: 0.25rem 1rem;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background-color: $toast-default-color;
  color: $main-dark-text-color;
  border: $main-dark-border;
  font-size: $toast-font-size;
  box-shadow: $default-shadow;
  align-items: center;
  justify-content: space-evenly;
}

#toast-container-div .default {
  background-color: $toast-default-color;
}

#toast-container-div .success {
  background-color: $toast-success-color;
}

#toast-container-div .info {
  background-color: $toast-info-color;
}

#toast-container-div .error {
  background-color: $toast-error-color;
}


#toast-main-div p {
  margin: 0;
}
