/* Custom properties */
$main-text-color: #fff;

/* light theme */
$main-light-bg-color: #ffffff;
$main-light-text-color: #000000;

/* dark theme */
/* main */
$main-dark-bg-color: #303030cc;
$main-dark-bg-color-opaque: #303030ff;
$main-dark-text-color: #ffffff;
$main-dark-text-color-select: #ffffff;// #eee3cc;// #ddf2ff;
$main-dark-border: 1px solid #181818c0;
$main-light-border: 1px solid #606060cc;
/* menu */
$menu-dark-bg-color: #505050cc;
$menu-dark-bg-color-opaque: #505050ff;
$menu-dark-border: 1px solid #404040c0;

/* footer */
$footer-font-size: 0.8rem;
$footer-font-size-mobile: 0.6rem;
$footer-title-font-size: 0.9rem;
$footer-icon-font-size: 1rem;
$footer-icon-div-width: 3rem;
$footer-div-width: 26rem;
$footer-dark-bg-color: #38383870;
$footer-copsi-height: 4.5rem;

/* header */
$header-font-size: 0.8rem;
$header-icon-font-size: 1rem;
$header-title-font-size: 0.9rem;
$header-title-font-size-mobile: 0.8rem;
$header-menu-title-width: 15rem;
$header-menu-title-width-mobile: 10rem;
$header-menu-title-width-mobile-little: 3.5rem;
$header-menu-icon-width: 5rem;
$header-menu-width: calc($header-menu-title-width + $header-menu-icon-width);
$header-menu-width-mobile: calc($header-menu-title-width-mobile + $header-menu-icon-width);
$header-menu-width-mobile-little: calc($header-menu-title-width-mobile-little + $header-menu-icon-width);
$header-logo-height: 1.0rem;

/* search bar */
$search-bar-font-size: 0.8rem;
$search-bar-font-size-mobile: 0.7rem;
$search-bar-font-size-small: 0.7rem;
$search-bar-font-size-small-mobile: 0.6rem;
$search-bar-width: 22rem;
$search-bar-width-mobile: 20rem;
$search-bar-product-icons-dim: 1.0rem;
$switch-width: 1.6rem;
$switch-height: 0.8rem;

/* product details */
$product-details-width: 20rem;
$product-details-width-mobile: 20rem;

/* miscellaneus */
$default-shadow: 0 2px 4px rgba(0,0,0,0.5);
$login-shadow: 0 2px 50px rgba(0,0,0,1.0);
$copsi-blue: #00aeef;
$copsi-blue-hover: #007ebf;
$product-name-color: white;// #ffccaa;
$default-title-div-height: 2rem;
$font-family: "NotesESA-Reg";
$scrollbar-bg-color: #0000;
$main-buttons-bg-color: #dddddd;
$main-buttons-bg-color-hover: #ababab;

/* toast */
$toast-font-size: $footer-font-size;
$toast-font-size-mobile: 0.7rem;
$toast-default-color: $menu-dark-bg-color;
$toast-success-color: #419641;
$toast-error-color: #ff4141;
$toast-info-color: #009edf;

/* responsiveness */
$screen-width-threshold-medium: 54.5rem;
$screen-width-threshold-little: 44rem; //44rem;
$screen-minimum-width: 37rem;

/* progress bar download */
$progress-bar-product-download-dim: 2.0rem;
